body {
  background-color: #000;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: white;
}
.box {
  flex: 1;
  background-color: grey;
  margin: 10px;
  padding: 20px;
  box-shadow: 2px 2px 10px white;
  border-radius: 10px;
  width: 500px;
  height: 500px;
}
.api-heading {
  color: white;
  font-size: 45px;
}
